.btn {
  font-family: $font-base;
  font-size: 36px;
  font-weight: 100;
  line-height: 45px;
  text-transform: uppercase;
 // display: inline-block;
  border: .75px solid $color-text-primary;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: $color-text-primary;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;

  &:hover {
    color: white;
    background-color: $color-text-primary;
  }

  &:active {
    position: relative;
    top: 2px;
  }
}

.decoration {

  &:after {
    content: url("../../assets/Decoration.svg");
    display: block;
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);

  }
}